{% extends 'backbase.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<a href="{{ path('credit_accepted') }}">Back</a>

    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center;">Id Remboursement</th>
                <th style="text-align: center;">Montant Remboursé</th>
                <th style="text-align: center;">Montant Restant</th>
                <th style="text-align: center;">Date Remboursement</th>
                <th style="text-align: center;">Duree Restante</th>
                <th style="text-align: center;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remboursement in remboursements %}
            <tr>
                <td style="text-align: center;">{{ remboursement.id }}</td>
                <td style="text-align: center;">{{ remboursement.montantR }}</td>
                <td style="text-align: center;">{{ remboursement.montantRestant }}</td>
                <td style="text-align: center;">{{ remboursement.dateR ? remboursement.dateR|date('Y-m-d') : '' }}</td>
                <td style="text-align: center;">{{ remboursement.dureeRestante }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('remboursement_show', {'id': remboursement.id}) }}">Plus d'informations</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" style="text-align: center;">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
