{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<style>
    .credit-forum {
        text-align: center;
        color: white;
    }
</style>

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>Demander un credit</h1>
                                    <div class="credit-forum">
                                        {{ include('credit/_form.html.twig') }}
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="{{asset('front/images/slider-img.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        </ol>
    </div>
</section>
{% endblock %}
{% block section %}
<table class="table">
    <thead>
        <tr>
            <th>Id Categorie</th>
            <th>Nom</th>
            <th>Montant Minimale</th>
            <th>Montant Maximal</th>
        </tr>
    </thead>
    <tbody>
    {% for categorie_credit in categories %}
        <tr>
            <td>{{ categorie_credit.id }}</td>
            <td>{{ categorie_credit.nom }}</td>
            <td>{{ categorie_credit.minMontant }}</td>
            <td>{{ categorie_credit.maxMontant }}</td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
{% endblock %}
{% block sec2 %}{% endblock %}
{% block why %}{% endblock %}
{% block info %}{% endblock %}
