{% extends 'backbase.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Les credits de cette categorie sont :</h1>

    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Montant Totale</th>
                <th style="text-align: center;">Interet</th>
                <th style="text-align: center;">Date Creation</th>
                <th style="text-align: center;">Duree Totale</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credit in credits %}
            <tr>
                <td style="text-align: center;">{{ credit.id }}</td>
                <td style="text-align: center;">{{ credit.montantTotale }}</td>
                <td style="text-align: center;">{{ credit.interet }}</td>
                <td style="text-align: center;">{{ credit.dateC ? credit.dateC|date('Y-m-d') : '' }}</td>
                <td style="text-align: center;">{{ credit.dureeTotale }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('credit_show', {'id': credit.id}) }}">Plus d'informations</a>
                    <br>
                    <a href="{{ path('remboursement_index',{'id': credit.id}) }}">Suivre remboursements</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" style="text-align: center;">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}">back to list</a>
{% endblock %}
