{% extends 'backbase.html.twig' %}

{% block title %}<title>Cartes</title>{% endblock %}

{% block content %}
    <center><h1>Les cartes </h1></center>
    <center>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Date_Expiration</th>
                <th>Network</th>
                <th>Statue de la carte</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td>{{ carte.id }}</td>
                <td>{{ carte.NumC }}</td>
                <td>{{ carte.DateExp ? carte.DateExp|date('Y-m-d') : '' }}</td>
                <td>{{ carte.TypeC }}</td>
                <td>{{ carte.StatutC }}</td>
                <td>
                    {% if carte.getType() is not null %}
                    {{ carte.getType().Type }}
                    {% endif %}
                </td>
                <td>
                    
                    <a class="btn btn-primary" href="{{ path('app_carte_edit', {'id': carte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
    <center><a class="btn btn-primary" href="{{ path('app_carte_new') }}">Create new</a></center>
    <a class="btn btn-primary" href="{{ path('generate_pdf') }}">Generate PDF</a>
{% endblock %}


